<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>CONTACT | SERVICE | IMAGICA IMAGEWORKS</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="メールでのお問い合わせ">
<meta name="keywords" content="CONTACT">




<!-- Facebook OGP -->
<meta property="og:title" content="CONTACT">
<meta property="og:type" content="article">
<meta property="og:description" content="メールでのお問い合わせ">
<meta property="og:url" content="http://www.imagica-imageworks.co.jp/">
<meta property="og:image" content="//www.imagica-imageworks.co.jp/fb.jpg">
<meta property="og:site_name" content="IMAGICA IMAGEWORKS">
<meta property="og:locale" content="ja_JP">
<meta property="fb:app_id" content="facebookのアプリID">
<!-- /Facebook OGP -->
<!--<link rel="shortcut icon" href="../common/images/favicon.ico">-->

<!-- css -->
<!-- <link rel="stylesheet" href="/common/css/cssfilter.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="print" href="print.css" />
<link rel="stylesheet" href="/iw_mailform/css/contact.css" type="text/css"/>
 -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/css/iw.css">
<link rel="stylesheet" href="/contact/contact.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:700,400' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?aYfZqIN6phg%3D" charset="utf-8"></script>
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/iw_mailform/js/contact.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/tile.js"></script>
<script type="text/javascript" src="/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="/js/jquery.vgrid.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4562638-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--[if lt IE 9]>
<script src="common/js/html5shiv.js"></script>
<![endif]-->
<!-- <?php include($_SERVER['DOCUMENT_ROOT'].'/left.html'); ?> -->
</head>

<body id="contact">
	<div id="container" class="content_height">
		<div class="clearfix">
			<div id="left" class="content_height">
				<div class="inner">
					<div class="logo_iw"><a href="/"><img src="/img/common/logo.png" width="210" height="52" alt="IMAGICA IMAGEWORKS"></a></div>
					<img src="/img/common/bt_menu_sp.png" width="30" height="30" id="bt_menu">

					<div class="mr35 hidden_part">
<?php include($_SERVER['DOCUMENT_ROOT'].'/left.html'); ?>
					</div>
				</div>
			</div>
            

			<div id="contents" class="content_height">
				<div id="content_wrapper">
					<div id="content_inner">
						<div style="max-width:1230px;">
