@charset "utf-8";
/* CSS Document */
#contact .tab_frame{
	position:relative
}
#contact .btn_ja_en{
	width: 210px;
	float: right;
	margin-top: -60px;
}
#contact #form{
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px 20px;
	border: 1px #DFDFDF solid;
}
#contact .contact_read{
	border-bottom:1px #CCC dashed;
	padding: 10px 0 20px;
	line-height: 1.5;
}
#contact .formArea #form_cont{ margin-bottom:20px}
#contact .formArea #form_cont th{
	text-align:left;
	width:250px
}
#contact .formArea #form_cont th,
#contact .formArea #form_cont td{
	padding:15px 0;
	vertical-align:middle
}
#contact .formArea #form_cont tr#tremail th{ vertical-align: top}
#contact .formArea #form_cont th span,
#contact span.mark_sharp{
	color: #F00;
}
#contact span.mark_sharp{
	font-weight:bold;
	padding-right:3px
}
#contact .formArea #form_cont td #selectcategory,
#contact .formArea #form_cont td .txtF01,
#contact .formArea #form_cont td .txtF02,
#contact .formArea #form_cont td .txtF03,
#contact .formArea #form_cont td .txtF04{
	width: 25em;
	border-radius: 5px;
	-webkit-borderradius:5px;
	padding: 10px;
}
#contact .formArea #form_cont td textarea{
	border-radius: 5px;
	-webkit-borderradius:5px;
}
#contact .pCheck,
#contact .txtC{
	text-align:center;
	margin-bottom: 20px;
}
#contact #tel_contact{
	padding:10px
}
#contact #tel_contact p.txt_tel_contact{
	font-size:15px;
	margin-bottom:15px;
	color:#FE7E00
}
#contact #tel_contact p.tit_tel_contact{
	margin-bottom:15px;
	font-size:17px;
	font-weight:bold
}
#contact table#confirm th,
#contact table#confirm td{
	padding: 10px;
    text-align: left;
}
form#confirm{
	margin:0 auto
}

/* add 20140227 */
#contact #btn_area{
	width:400px;
	margin:0 auto;
	padding-bottom:20px;
}

.error{
	padding:10px;
	border:solid 1px #F00;
	border-radius:5px;
	-moz-border-radius:5px;
	color:#F00;
	line-height:1.8;
}




@media screen and (max-width: 639px) {
	#contact #form {
		padding: 10px 10px;
		border: 1px #DFDFDF solid;
		margin:0 10px;
	}
	td,th{
		display:block;
	}
	#contact .formArea #form_cont td #selectcategory,
	#contact .formArea #form_cont td .txtF01,
	#contact .formArea #form_cont td .txtF02,
	#contact .formArea #form_cont td .txtF03,
	#contact .formArea #form_cont td .txtF04{
		width: 100%;
		border-radius: 5px;
		-webkit-borderradius:5px;
		padding: 10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#contact #btn_area{
		width:auto;
	}
	#contact .formArea #form_cont th{
		text-align:left;
		width:auto;
	}
	#contact .formArea #form_cont td #selectcategory,
	#contact .formArea #form_cont td .txtF01,
	#contact .formArea #form_cont td .txtF02,
	#contact .formArea #form_cont td .txtF03,
	#contact .formArea #form_cont td .txtF04{
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#contact .btn_ja_en{
		width: 210px;
		float: none;
		margin: 20px 0 20px 10px;
	}
	.ttl_page {
		margin:20px 10px;
	}
	#contact .formArea #form_cont td textarea{
		width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}